*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to bottom, #009688 20%, #dcdbd2 20%);
    padding: 1.875rem;
}

header{
    background-color: #eaeaea;
    height: 4.375rem;
}

.container{
    max-width: 62.5rem;
    height: 100vh;
    margin: auto;
}

.photo{
    width: 2.5rem;
    height: 2.5rem;
}

.photo img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#left-header span{
    flex-grow: 1;
}

#left-header{
    border-right: .0625rem solid #d6d6d6;
    width: 30%;
}

#right-header{
    width: 70%;
}

#info{
    flex-grow: 1;
}

#left-menu{
    width: 30%;
}

main{
    height: calc(100vh - 4.375rem);
}

.notification{
    background-color: #8edafc;
}

.whitecircle{
    padding: .3125rem;
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
}

#searchbar{
    background-color: #fafafa;
}

#searchbar__input{
    width: 100%;
}

#searchbar__input input{
    width: 100%;
    border: none;
}

#search-glass{
    background-color: white;
}

.name-chat{
    height: 4.375rem;
    background-color: white;
    width: 100%;
    overflow: hidden;
}

.active{
    background-color: #e9ebeb;
}

#chat{
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
    width: 70%;
}

#left-menu{
    height: 100%;
    overflow-y: hidden;
    background-color: white;
}

#contacts-chat{
    overflow-y: auto;
}

.chat-bar{
    background-color: #eaeaea;
    height: 3.125rem;
}

.display-chat{
    flex-grow: 1;
}

.message{
    border-radius: .625rem;
    background-color: white;
    padding: .9375rem;
}

.sent{
    justify-content: flex-end;
}

.sent span{
    background-color: greenyellow;
}

.nowrap{
    white-space: normal;
    overflow: hidden;
}

.little-text{
    font-size: .8125rem;
}

h6{
    margin: .3125rem 0 0 0;
}

.final-icons{
    font-size: 1.25rem;
}

.chat-bar input{
    flex-grow: 1;
    height: 80%;
}



